{% extends "base.html" %}
{% block title %}{{ song.name }} - All Versions{% endblock %}
{% block content %}
    <h1>hettyversion</h1>
    <h2>{{ song.name }} - All Versions</h2>
    <a href="/vote?song_id={{ song.song_id }}"><button type="button" class="btn btn-primary">Vote</button></a>
    <div class="list-group">
    {% for version in versions %}
    	<a class="list-group-item list-group-item-action" href="/versions/{{ version.version_id }}">{{ version.title }}</a>
    {% endfor %}
    </div>
{% endblock %}