{% extends "base.html" %}
{% block title %}{{ band.name }} - All Songs{% endblock %}
{% block content %}
    <div>
	    <h1>{{ band.name }} - All Songs <button type="button" class="btn btn-primary">All Bands</button></h1>
	</div>
    <div class="list-group">
    {% for song in songs %}
    	<a class="list-group-item list-group-item-action" href="/songs/{{ song.song_id }}"><span class="badge badge-default">{{ song.count }} {{ 'versions' if song.count != 1 else 'version' }}</span>{{ song.name }}</a>
    {% endfor %}
    </div>
{% endblock %}