{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h1>Which version is better?</h1>
</div>
<form method="POST" action="/vote/" class="vote-form">
  {{ form.csrf_token }}
  <div class="col-sm-6">
  <h2>{{ lhs.title }}</h2>
  <audio controls>
    <source{{ ' src=' + lhs.url if lhs.url else '' }} type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  {{ form.lhs_id }}
  {{ form.lhs }}
  </div>
  <div class="col-sm-6">
  <h2>{{ rhs.title }}</h2>
  <audio controls>
    <source{{ ' src=' + rhs.url if rhs.url else '' }} type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  {{ form.rhs_id }}
  {{ form.rhs }}
  </div>
</form>
{% endblock %}
