{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <center><h1>{{ lhs.name }}</h1></center>
  <center><h2>Which version is better?</h2></center>
</div>
<div class="well well-sm">Tired of listening to {{ lhs.name }}? <a href="/vote/?exclude={{ lhs.song_id }}">Jump to a random song</a>.</div>


<form method="POST" action="/vote/" class="vote-form">
  {{ form.csrf_token }}
  <div class="col-sm-6">
  <h2><small class="text-muted">{{ lhs.venue_name }}, {{ lhs.location }}</small></h2>
  <div>
  <audio controls>
    <source{{ ' src=' + lhs.url if lhs.url else '' }} type="audio/mpeg">
  Your browser does not support the audio element.
  </audio></div>
  {{ form.lhs_id }}
  {{ form.lhs(class="vote-button") }}
  </div>
  <div class="col-sm-6">
    <h2><small class="text-muted">{{ rhs.venue_name }}, {{ rhs.location }}</small></h2>
    <div>
  <audio controls>
    <source{{ ' src=' + rhs.url if rhs.url else '' }} type="audio/mpeg">
  Your browser does not support the audio element.
  </audio></div>
  {{ form.rhs_id }}
  {{ form.rhs(class="vote-button") }}
  </div>
</form>
{% endblock %}
